.container{
    width: 200%; 
    border: 1px solid rgba(173, 172, 172, 0.89);
    border-radius: 12px;
    padding: 1.5%;
    margin: 5%;
    align-items: center;
    display: block;
}

#descriptionInput{
    width: 100%;
}

.gruop-categoria{
    display: flex;
    justify-content: space-between;  
}

.gruop-categoria select{
    width: 40%;
}

.gruop-categoria input{
    width: 6%;
}

.botones{
    display: flex;
    justify-content: space-evenly;  
}

.opciones-container{
    padding: 5%;
    border: 1px solid rgba(173, 172, 172, 0.89);
    margin-bottom: 2%;
}

.opcion{
    display: flex;
    justify-content: space-between; 
    border: 1px solid black;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
}

.opcionVF{
    display: flex;
    justify-content: flex-start; 
    border: 1px solid black;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
}

.description{
    width: 70%;
    height: 26px
}

.descriptionC{
    width: 100%;
}
