<div class="container">
  <h1 class="text-center">Quiz</h1>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="form-group">
          <b for="titleInput">Quiz Title</b>
          <input type="text" class="form-control" id="titleInput" rows="5" [(ngModel)]="quiz.titulo" name="titulo">
        </div>

        <div class="form-group">
          <b for="categoria">Category:</b>
          <select class="form-control" [(ngModel)]="quiz.categoria" name="categoria" id="categoria">
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
        </div>

        <div class="form-group">
          <b id="quizd" >Quiz Description:</b>
          <quill-editor [(ngModel)]="quiz.descripcion" name="descriptionInput" id="descriptionInput" [modules]="modulesQuill"
            (onEditorChanged)="onChangeEditor($event)"
            ></quill-editor>
        </div>

        <div class="form-group">
          <b for="maximoPreguntasInput">Numero maximo de preguntas:</b>
          <input type="number" class="form-control" min="1" id="cantidadBancoPreguntasInput" rows="5" [(ngModel)]="quiz.maximoPreguntas" name="maximoPreguntas">
        </div>

        <div class="form-group">
          <b for="cantidadPreguntasInput">Preguntas para  el estudiante:</b>
          <input type="number" class="form-control" min="1" [max]="quiz.maximoPreguntas" id="cantidadPreguntasInput" rows="5" [(ngModel)]="quiz.numPreguntasEstudiante" name="numPreguntasEstudiante">
        </div>
        <div class="form-group">
          <b for="tiempoInput">Tiempo examen (minutos):</b>
          <input type="number" class="form-control" id="tiempoInput" rows="5" [(ngModel)]="quiz.tiempoExamen" name="tiempoExamen">
        </div>
        <div class="form-group">
          <b for="fechaInput">Fecha presentación:</b>
          <input type="date" class="form-control" id="fechaInput" [(ngModel)]="quiz.fecha" name="fechaInput">
        </div>
        <p></p>
        <div class="botones">
          <button class="btn btn-outline-dark" (click)="crearQuiz()">Guardar</button>
          <button class="btn btn-dark" routerLink="/home">Cancelar</button>
      </div>
      <br>
      
    </div>
    <div class="col-2"></div>
  </div>
</div>
