<app-alerta [alerta]="alerta"></app-alerta>
<table class="table">
    <thead>
      <tr>
        <th >S.No</th>
        <th >Descripcion</th>
        <th >% Correctas</th>
        <th >Correctas</th>
        <th >Incorrectas</th>
        <th >Respondidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of estadisticas">
        <td>{{ data.posicion_pregunta }}</td>
        <td [innerHTML]="getDescription(data.descripcion_pregunta)"></td>
        <td>{{ data.porcentaje_correctas }}</td>
        <td>{{ data.numero_correctas }}</td>
        <td>{{ data.numero_incorrectas }}</td>
        <td>{{ data.cantidad_respondidas }}</td>
      </tr>
    </tbody>
  </table>