/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

.ql-editor{
    height: 150px;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

body {
    display: flex;
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
