<div class="container">
    <div *ngFor="let word of words; let i=index ">
        <div class="word" [ngClass]="getWord(word)">
            <ng-container *ngIf="!isComboBox(word); else  comboBoxTemplate">
                {{ word }}
            </ng-container>
        </div>
        <ng-template #comboBoxTemplate>
            <select 
                [(ngModel)]="this.pregunta.respuestas_usuario[this.posiciones.indexOf(i)]"
                [name]="'selecion' + word">
                <option *ngFor="let option of comboBoxWords; let i=index" [value]=option >
                    {{ option }}
                </option>
            </select>
        </ng-template>
    </div>
</div>